<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="ba1b6569-9896-4e21-8728-e8d9ce662285" Publisher="CN=Nicholas" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="ba1b6569-9896-4e21-8728-e8d9ce662285" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>RestuarantManager.UniversalWindows</DisplayName>
    <PublisherDisplayName>Nicholas</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RestuarantManager.UniversalWindows.App">
      <uap:VisualElements DisplayName="RestuarantManager.UniversalWindows" Square150x150Logo="Assets\LargeSquareLogo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Restuarant Manager Universal Windows App" BackgroundColor="transparent">
        <uap:DefaultTile>
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>